<!-- navbar -->
<app-navbar></app-navbar>

<!-- All salons -->
<div class="viewallsalonBackground">
  <div class="container-fluid" id="salons">
    <div class="row flex-nowrap" style="padding-top: 5rem">
      <!-- div with side bar and salon cards -->
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
        <!-- sidebar -->
        <app-usersidebar></app-usersidebar>
      </div>
      <div class="col py-3">
        <!-- Display salon Cards -->

        <div
          class="row gx-3 gx-lg-3 row-cols-4 row-cols-md-4 row-cols-xl-4 justify-content-center"
        >
          <section
            *ngFor="
              let salon of salons
                | paginate : { itemsPerPage: count, currentPage: p }
            "
          >
            <div class="card mb-3" style="width: 18rem; height: 600px">
              <img
                class="card-img-top"
                src="{{ salon.salonpicurl }}"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">{{ salon.salonname }}</h5>
                <p class="card-text">{{ salon.salondescription }}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  {{ salon.salondescription }}
                </li>
                <li class="list-group-item">
                  Salon Category: <b> {{ salon.saloncategory }}</b>
                </li>
                <li class="list-group-item">
                  Salon Rating: <b>{{ salon.salonrating }}</b>
                </li>
              </ul>
              <div class="card-body" style="text-align: center">
                <button
                  mat-raised-button
                  color="accent"
                  routerLink="/salonpage/{{ salon.salonid }}"
                >
                  View
                </button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="paginationControls">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>

  <!--Salon Cards Pagination Controls-->
</div>
<app-footer></app-footer>
