<!-- Navbar -->
<app-navbar></app-navbar>

<!-- main div -->
<div class="hero" id="introductionDiv">
  <div class="contentTitle">
    <h1>Hello! {{ username }}</h1>
    <h2>
      🌟 Welcome to ChromaCuts! 🌟
      <br />
      Step into luxury and convenience at ChromaCuts! We're delighted to have
      you on our online platform.
    </h2>
  </div>
</div>

<div class="content sidebar">
  <!-- Section Cards and Sidebar-->

  <section class="cards-section pr-1">
    <div class="row">
      <div
        class="offcanvas offcanvas-start w-25"
        tabindex="-1"
        id="offcanvas"
        data-bs-keyboard="false"
        data-bs-backdrop="false"
      >
        <div class="offcanvas-header">
          <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6>
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body px-0">
          <ul
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start"
            id="menu"
          >
            <li class="nav-item">
              <a href="#" class="nav-link text-truncate">
                <i class="fs-5 bi-house"></i>
                <span class="ms-1 d-none d-sm-inline">Home</span>
              </a>
            </li>
            <li>
              <a
                href="#submenu1"
                data-bs-toggle="collapse"
                class="nav-link text-truncate"
              >
                <i class="fs-5 bi-speedometer2"></i
                ><span class="ms-1 d-none d-sm-inline">Dashboard</span>
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-truncate">
                <i class="fs-5 bi-table"></i
                ><span class="ms-1 d-none d-sm-inline">Orders</span></a
              >
            </li>
            <li class="dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle text-truncate"
                id="dropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fs-5 bi-bootstrap"></i
                ><span class="ms-1 d-none d-sm-inline">Bootstrap</span>
              </a>
              <ul
                class="dropdown-menu text-small shadow"
                aria-labelledby="dropdown"
              >
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="nav-link text-truncate">
                <i class="fs-5 bi-grid"></i
                ><span class="ms-1 d-none d-sm-inline">Products</span></a
              >
            </li>
            <li>
              <a href="#" class="nav-link text-truncate">
                <i class="fs-5 bi-people"></i
                ><span class="ms-1 d-none d-sm-inline">Customers</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Sidebar -->
      <!-- <div class="container-fluid" id="salons"> -->
      <!-- <div class="row flex-nowrap" style="padding-top: 5rem"> -->
      <!-- div with side bar and salon cards -->
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
        <!-- sidebar -->
        <app-usersidebar></app-usersidebar>
      </div>
      <div class="col py-3">
        <!-- Display salon Cards -->

        <div
          class="row gx-3 gx-lg-3 row-cols-4 row-cols-md-4 row-cols-xl-4 justify-content-center"
        >
          <section
            *ngFor="
              let salon of salons
                | paginate : { itemsPerPage: count, currentPage: p }
            "
          >
            <div
              class="card mb-3"
              style="width: 18rem; height: 600px; padding: 1rem"
            >
              <img
                class="card-img-top"
                src="{{ salon.salonpicurl }}"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">{{ salon.salonname }}</h5>
                <p class="card-text">{{ salon.salondescription }}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  {{ salon.salondescription }}
                </li>
                <li class="list-group-item">
                  Salon Category: <b> {{ salon.saloncategory }}</b>
                </li>
                <li class="list-group-item">
                  Salon Rating: <b>{{ salon.salonrating }}</b>
                </li>
              </ul>
              <div class="card-body" style="text-align: center">
                <button
                  mat-raised-button
                  color="accent"
                  routerLink="/salonpage/{{ salon.salonid }}"
                >
                  View
                </button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
    <div class="paginationControls">
      <div class="text-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
