<section
  class="bg-image"
  style="
    background-image: url('https://wepik.com/api/image/ai/9ad98c99-bd40-4cd9-a761-9e2e8626bb8a?thumb=1');
  "
>
  <div class="mask d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 w-50 col-lg-7 col-xl-6">
          <div class="card my-4" style="border-radius: 15px">
            <div class="card-body p-5">
              <div class="text-center">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                  style="width: 185px"
                  alt="logo"
                />
                <h4 class="mt-1 mb-5 pb-1 chromacuts-logoname">ChromaCuts</h4>
              </div>
              <h2 class="text-playfair-black text-center mb-5">
                Appointment Details
              </h2>

              <form #appointmentForm="ngForm" class="stylist-reg-form">
                <!--Appointment Id-->
                <div class="form-outline">
                  <label class="form-label" for="form3Example1cg"
                    >APPOINTMENT ID</label
                  >
                  <input
                    type="text"
                    id="form3Example1cg"
                    class="form-control form-control-lg"
                    name="appointmentId"
                    disabled
                    #appointmentId="ngModel"
                    [(ngModel)]="appointment.appointmentId"
                  />
                </div>

                <!--Appointment Date-->
                <div class="form-outline">
                  <label class="form-label" for="form3Example1cg"
                    >APPOINTMENT DATE</label
                  >
                  <input
                    type="text"
                    id="form3Example5cg"
                    class="form-control form-control-lg"
                    name="appointmentDate"
                    disabled
                    #appointmentDate="ngModel"
                    [(ngModel)]="appointment.appointmentDate"
                  />
                </div>

                <!--Appointment Time-->
                <div class="form-outline">
                  <label class="form-label" for="form3Example3cg"
                    >APPOINTMENT TIME</label
                  >
                  <input
                    type="email"
                    id="form3Example3cg"
                    class="form-control form-control-lg"
                    name="appointmentTime"
                    disabled
                    #appointmentTime="ngModel"
                    [(ngModel)]="appointment.appointmentTime"
                  />
                </div>

                <!--Appointment Type-->
                <div class="form-outline">
                  <label class="form-label" for="form3Example4cg"
                    >APPOINTMENT TYPE</label
                  >
                  <input
                    type="text"
                    id="form3Example4cg"
                    class="form-control form-control-lg"
                    name="appointmentType"
                    disabled
                    #appointmentType="ngModel"
                    [(ngModel)]="appointment.appointmentType"
                  />
                </div>

                <!--salon name-->
                <div class="form-outline">
                  <label class="form-label" for="form3Example4cdg"
                    >SALON NAME</label
                  >
                  <input
                    type="text"
                    id="form3Example4cdg"
                    class="form-control form-control-lg"
                    name="salonname"
                    disabled
                    required
                    #salonname="ngModel"
                    [(ngModel)]="salon.salonname"
                  />
                </div>

                <!--stylist name-->
                <div class="form-outline">
                  <label class="form-label" for="form3Example4cdg"
                    >STYLIST NAME</label
                  >
                  <input
                    type="text"
                    id="form3Example4cdg"
                    class="form-control form-control-lg"
                    name="stylistname"
                    disabled
                    #stylistname="ngModel"
                    [(ngModel)]="stylist.firstname"
                  />
                </div>

                <!--services name-->
                <div class="form-outline mb-2">
                  <div class="tablediv">
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">SERVICES NAME</th>
                          <th scope="col">SERVICES PRICE</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let service of services">
                          <td scope="col">{{ service.servicesname }}</td>
                          <td scope="col">₹{{ service.servicesprice }}</td>
                        </tr>
                        <tr>
                          <td scope="col">TOTAL AMOUNT</td>
                          <td scope="col">₹{{ totalserviceprice }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </form>

              <div class="d-flex justify-content-center">
                <!--<button
            color="accent"
            mat-raised-button
           routerLink="/payment"
          >
            PayNow
          </button>-->
                <app-payment></app-payment>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
