<div class="container vh-100">
  <div>
    <h1 class="tabletitle">{{ username }}'s Appoinments</h1>
  </div>
  <div class="tablediv">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Appointment Id</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Status</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let appointment of appointments
              | paginate : { itemsPerPage: count, currentPage: p }
          "
        >
          <td scope="col">{{ appointment.appointmentId }}</td>
          <td scope="col">{{ appointment.appointmentDate }}</td>
          <td scope="col">{{ appointment.appointmentTime }}</td>
          <td scope="col">{{ appointment.appointmentStatus }}</td>
          <td scope="col">{{ appointment.appointmentType }}</td>

          <td></td>
        </tr>
      </tbody>
    </table>
    <!--Including the pagination control.-->
    <div class="text-right">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
